global !p
import vim,datetime

def today_date()
	date=datetime.date.today()
	return date.format("%d-%m-%Y")
endglobal

snippet today "Separation + today's date" !b
#`!p
strdate=today_date()
snip.rv=strdate+"\n"
`
$0
***
endsnippet

snippet test "Description" !b
hello!
endsnippet
