snippet _log "add logger attribute" !b
self.logger=logging.getLogger("logger")
endsnippet

snippet _in "import numpy" b
import numpy as np
endsnippet

snippet mm "magic mock"
mock.MagicMock()
endsnippet
